<%
var h_tag = 'h2';
if (typeof archive == 'undefined' || !archive) {
  h_tag = 'h1';
}
%>

<% if (post.link){ %>
  <<%- h_tag %>> itemprop="name">
    <a class="<%= class_name %>" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
  </<%- h_tag %>>
<% } else if (post.title){ %>
  <% if (index){ %>
    <<%- h_tag %> itemprop="name">
      <a class="<%= class_name %>" href="<%- url_for(post.path) %>"><%= post.title %></a>
    </<%- h_tag %>>
  <% } else { %>
    <<%- h_tag %> class="<%= class_name %>" itemprop="name">
      <%= post.title %>
    </<%- h_tag %>>
  <% } %>
<% } %>