<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
  <div class="l-main row">
    <section id="main" class="medium-8 large-8 columns">
      <%- body %>
    </section>
    <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
  </div>
  <hr />
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/disqus') %>

  <%- partial('_partial/photoswipe', null, {cache: !config.relative_link}) %>
  <%- js('photoswipe/photoswipe.min.js') %>
  <%- js('photoswipe/photoswipe-ui-default.min.js') %>
  <%- js('js/app') %>
</body>
</html>
