<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>">
  <div class="article-main">

    <%- partial('post/gallery') %>

    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>

    <div class="article-meta">
      <%- partial('post/tag') %>
      <%- partial('post/category') %>
      <% if (post.layout !== 'page') { %>
      <span class="article-datetime">
      <%- partial('post/date', {class_name: 'article-date', date_format: 'YYYY. MMMM D.'}) %>
      </span>
      <% } %>
    </div>



    <div class="article-entry">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a class="primary button expanded" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>

    <% if (!post.is_404) { %>
    <footer class="article-footer">
      <div class="article-share">
		  <a class="button hollow article-share-link" href="https://www.facebook.com/sharer/sharer.php?u=<%- encodeURIComponent(post.permalink) %>"><i class="fi-social-facebook"></i> <%= __('share_on_fb')%></a>
      </div>
    </footer>
    <% } %>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
